body {
  background-color: #171717;
}
main {
  width: 1920px;
  margin: 0 auto;
}
span {
  color: #ffffff;
  font-weight: 700;
  font-family: "Gilam";
  font-size: 20px;
  line-height: 25px;
}
p {
  color: #ffffff;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.container {
  width: 1460px;
  margin: 0 auto;
}
.header {
  margin-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  text-decoration: none;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  padding: 10px 25px;
  border: #e4b564 1px solid;
}
.phone-icon {
  padding-right: 8px;
}
h1 {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
/* Услуги */
.service-title {
  margin-top: 128px;
}

.service-text {
  font-family: "Gilam";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  max-width: 80%;
  margin: 41px 0px;
}
.service-item {
  max-width: 80%;
  font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

/* first grid */

.grid-container {
  color: #ffffff;
  display: grid;
  grid-template-columns: 468px 221.5px 221.5px 468px;
  grid-template-rows: 468px 468px;
  gap: 25px;
}
.grid-item-1 {
  background-color: #634f2c;
  grid-area: 1/1/2/2;
}
.grid-item-2 {
  background-color: #b4a385;
  grid-area: 1/2/2/4;
}
.grid-item-3 {
  background-color: #e4b564;
  grid-area: 1/4/2/5;
}
.grid-item-4 {
  background-color: #635a4a;
  grid-area: 2/1/3/3;
}
.grid-item-5 {
  background-color: #b08c4d;
  grid-area: 2/3/3/5;
}
.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
/* Техника */
.technical-title {
  margin: 160px 0px 94px 0px;
}
.technical-name {
  margin: 44px auto;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
font-size: 20px;
line-height: 25px;
}

.grid-item-6,
.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11,
.grid-item-12 {
  font-family: "Gilam";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #ffffff;
}
.technical-grid {
  display: grid;
  row-gap: 25px;
  column-gap: 30px;
  grid-template-columns: 467px 467px 467px;

  grid-template-rows: 255px 33px 101px 129px 251px 1px;
}
.grid-item-6 {
  font-weight: 400;
  grid-area: 1/1/3/2;
  background-color: #0e0e0e;
}
.grid-item-7 {
  font-weight: 400;
  grid-area: 1/2/4/2;
  background-color: #242424;
}
.grid-item-8 {
  grid-area: 1/3/2/4;
  background-color: #1f1f1f;
}
.grid-item-9 {
  grid-area: 3/1/7/2;
  background-color: #1f1f1f;
}
.grid-item-10 {
  color: #000000;
  grid-area: 4/2/6/3;
  background-color: #e4b564;
}
.grid-item-11 {
  grid-area: 2/3/5/4;
  background-color: #0e0e0e;
}
.grid-item-12 {
  grid-area: 5/3/7/4;
  background-color: #0a0909;
}
/* Клиенты */
.client {
  margin: 191px 0px 239px 0px;
  width: 1920px;
  

  background-color: #0e0e0e;
}
.client-header {
  padding-top: 172px;
  display: flex;
  justify-content: space-between;
}
.btn-client {
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: #e4b564 1px solid;
  padding: 10px 40px;
  text-decoration: none;
}

.client-grid {margin-top: 71px;
  display: grid;
  grid-template-columns: 487px 487px 487px;
  grid-template-rows: 391px 391px;
}
.client-grid-item1,
.client-grid-item2,
.client-grid-item3,
.client-grid-item4,
.client-grid-item5,
.client-grid-item6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-sub-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 64%;
}
.client-title {
  margin-top: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Gilam";
  font-size: 22px;
  line-height: 28px;
}
.coursor {
  margin-top: 12px;
}
.client-grid-item1 {background-color: #634F2C
  ;
}
.client-grid-item2 {background-color: rgba(232, 210, 171, 0.76);;
}
.client-grid-item3 {background-color: #E4B564;;
}
.client-grid-item4 {background-color: #635A4A;
}
.client-grid-item5 {background-color: #B08C4D;
}
.client-grid-item6 {background-color: #634F2C;
}
